<%- include("header") -%>

    <div class="box" id="heading">
        <h1 style="color:rgb(255, 255, 255);"> 
            <%= listTitle %> 
        </h1>
    </div>

    <div class="box">
            <% newListItems.forEach( element => { %>
                <form action="/delete" method="post">

                    <div class="item">
                        <input id="checkbox" name="checkbox" value="<%= element._id %>" type="checkbox" onChange="this.form.submit()">
                        <p><%= element.name %></p>
                    </div>
                    <input type="hidden" name="listTitle" value="<%= listTitle %>">
                </form>

            <% }) %>
            
    
        <form class="item" action="/" method="post">
            <input type="text" name="newItem" placeholder="New Item" autocomplete="off">
            <button type="submit" value="<%= listTitle %>" name="listTitle">+</button>
        </form>
    </div>

<%- include("footer") -%>